/* .loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;

  background: conic-gradient(
    var(--color-primary) 0deg calc(360deg * calc(var(--progress) / 100)),
    var(--color-dark) calc(360deg * calc(var(--progress) / 100))
  );
  transition: background 0.1s linear;
}
.loader::after {
  content: attr(data-progress) '%';
  position: absolute;
  left: 6px;
  top: 6px;
  right: 6px;
  bottom: 6px;
  border-radius: 50%;
  background-color: var(--color-dark);

  display: grid;
  place-items: center;
  font-size: 1.25rem;
  color: var(--color-white);
  font-weight: var(--fw-bold);
} */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: var(--color-primary) var(--color-dark);
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
