.offer {
  padding: 0 var(--section-padding);
}

.description {
  margin-top: 1rem;
}
.timeToBuild {
  margin-top: 2rem;
}

.list {
  margin-top: 2rem;
  list-style-type: none;

  display: flex;
  flex-direction: column;

  gap: 1rem;
}
.list--element {
  display: grid;
  position: relative;
}
.content {
  min-height: 240px;
  z-index: 2;
  background-color: var(--color-dark-alpha_80);

  /* padding: 1.5rem; */
  padding: calc(var(--section-padding) * 2) var(--section-padding);

  display: flex;
  flex-direction: column;
}
.content--title {
}
.content--description {
  margin-top: 0.5rem;
  max-width: var(--paragraph-width);
}
.element--image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 10px;
  filter: brightness(0.75) sepia(0.05);
}
@media screen and (min-width: 768px) {
  .list {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .timeToBuild {
    margin-top: 4rem;
  }
  .content {
    /* padding: 2.5rem; */
    padding: 2rem 3rem;
  }
  .element--image {
    border-radius: 10px;
  }
  .content--description {
    margin-top: 1rem;
  }
}
