.about {
}
.heading {
  margin: 0 var(--section-padding);
}
.description {
  margin: 0 var(--section-padding);
  margin-top: 1rem;
}

.skillBox {
  margin-top: 2rem;
  width: 100%;
  height: 150px;
}

@media screen and (min-width: 768px) {
  .skillBox {
    margin-top: 4rem;
  }
}
