.projects {
  padding: 0 var(--section-padding);
}

.description {
  margin-top: 1rem;
}
.list {
  margin-top: 2rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.viewAllProjects {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.interestedBox {
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .viewAllProjects {
    margin-top: 6rem;
  }
  .interestedBox {
    margin-top: 6rem;
  }
  .list {
    margin-top: 4rem;
    gap: 4em;
  }
}
