.projects {
  padding: 0 var(--section-padding);
  margin: 4rem 0;
}

.description {
  margin-top: 1rem;
}
.viewAllProjects {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
}
.interestedBox {
  margin-top: 3.5rem;
}
.list {
  margin-top: 4rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media screen and (min-width: 768px) {
  .viewAllProjects {
    margin-top: 6rem;
  }
  .interestedBox {
    margin-top: 6rem;
  }
}
