*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
* {
  font: inherit;
}

:root {
  --color-dark: #161719;
  --color-white: #ffffff;

  --color-grey: #1e1e1e;
  --color-grey_light: #f0f0f0;

  --color-primary: hsl(352, 72%, 47%);
  --color-primary_lighter: hsl(353, 86%, 54%);
  --color-primary_alpha_100: rgba(239, 35, 60, 0.1);
  --color-primary_alpha_250: rgba(239, 35, 60, 0.25);

  --color-dark_alpha: rgba(22, 23, 25, 0.65);
  --color-red_alpha: rgba(24, 2, 4, 0.9);

  --border-radius: 10px;

  font-size: 16px;
  -ff: 'Poppins', sans-serif;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-300: 14px;
  --fs-400: 16px;
  --fs-500: 18px;
  --fs-600: 24px;
  --fs-700: 32px;
  --fs-800: 48px;
  --fs-900: 112px;

  --section-width: 1240px;
  --article-width: 712px;

  --section-padding: 1.5rem;
}
/* @media screen and (min-width: 688px) {
  :root {
    --section-padding: 2.5rem;
  }
} */

body {
  font-family: var(--ff);
}
