*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
* {
  font-family: inherit;
}

:root {
  --color-dark: rgb(22, 23, 25);
  --color-dark-alpha_95: rgba(22, 23, 25, 0.95);

  --color-white: #ffffff;
  --color-light: #f0f0f0;
  --color-white-alpha_10: rgba(255, 255, 255, 0.1);

  --color-grey-dark: #212121;
  --color-grey-dark-light: #2d2e30;

  --color-grey-light: #989898;

  --color-primary_darker: #ce2239;
  --color-primary_darker_hover: #9a192a;
  --color-primary: #ef253c;
  --color-primary_alpha_100: rgba(239, 35, 60, 0.1);
  --color-primary_alpha_250: rgba(239, 35, 60, 0.25);

  --color-warning: #eb5939;

  --color-dark_alpha: rgba(22, 23, 25, 0.65);
  --color-red_alpha: rgba(24, 2, 4, 0.9);

  --border-radius: 10px;

  font-size: 16px;
  -ff: 'Poppins', sans-serif;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* TODO: change to rem */
  --fs-200: 12px;
  --fs-300: 14px;
  --fs-400: 16px;
  --fs-500: 18px;
  --fs-600: 24px;
  --fs-700: 32px;
  --fs-800: 48px;
  --fs-900: 112px;

  --section-width: 1240px;
  --article-width: 712px;
  --paragraph-width: 572px;

  --section-padding: 0.8rem;

  --transition-button_1: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --transition-menu: cubic-bezier(0.47, 0, 0.745, 0.715);
}
@media screen and (min-width: 320px) {
  :root {
    --section-padding: 1rem;
  }
}
@media screen and (min-width: 360px) {
  :root {
    --section-padding: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  :root {
    --section-padding: 2.5rem;
  }
}

body {
  font-family: var(--ff);
  background-color: var(--color-dark);
  max-width: 100vw;
  overflow-x: hidden;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.001s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001s !important;
  }
}
