.container {
  grid-area: contact;

  padding: calc(var(--section-padding) * 2) var(--section-padding);
  border-radius: 10px;
  background-color: var(--color-grey-dark);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  max-width: 100%;
  overflow: hidden;
}
.link {
  text-decoration: none;
  position: relative;
  z-index: 2;
  color: var(--color-white);
  padding: 0.25rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.link::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 75%;
  z-index: -1;

  background-color: var(--color-primary);
  transform-origin: bottom;
  transition: top 0.1s var(--transition-button_1);
}

@media (hover: hover) and (pointer: fine) {
  .link:hover::before {
    top: 0%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 3rem 2rem;
  }
}
