.contactMe {
  padding: 0 var(--section-padding);
}
.heading {
}
.subHeading {
  margin-top: 2rem;
}
.boxes {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 'form' 'contact';
  gap: 1rem;
}

.form {
  grid-area: form;
}

.contact {
  grid-area: contact;
}

@media screen and (min-width: 768px) {
  .subHeading {
    margin-top: 4rem;
  }
  .boxes {
    margin-top: 4rem;
    grid-template-columns: 1fr 340px;
    grid-template-rows: auto auto;
    grid-template-areas: 'form contact' 'form _';
    gap: 2rem;
  }
}

@media screen and (min-width: 900px) {
  .boxes {
    grid-template-columns: 1fr 380px;
  }
}
