.container {
  border: 10px solid var(--color-grey-dark);
  border-radius: 10px;
  padding: 2rem 1rem;
}
.title {
}
.skills {
  margin-top: 2rem;

  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

@media screen and (min-width: 768px) {
  .skills {
    margin-top: 2rem;

    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media screen and (min-width: 868px) {
  .container {
    padding: 1.5rem;
  }
}
