.footer {
  background-color: var(--color-grey-dark);
}
.content {
  width: min(100%, var(--section-width));
  margin: auto;

  padding: 2rem var(--section-padding);

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas: 'logo privacy' 'goodbye goodbye';
  gap: 2rem;

  color: var(--color-grey-light);
}

.logo {
  grid-area: logo;
  display: grid;
  place-self: center start;
}
.contact {
  grid-area: contact;

  display: none;
}
.privacy {
  grid-area: privacy;
  place-self: center end;

  text-align: center;
}

.goodbye {
  grid-area: goodbye;
  text-align: center;
}
@media screen and (min-width: 530px) {
  .content {
    grid-template-areas: 'logo contact' 'goodbye privacy';
  }

  .contact {
    display: block;
    place-self: center end;
  }
  .goodbye {
    text-align: start;
    place-self: center start;
  }
}
