.blob {
  position: fixed;
  z-index: -2;

  width: 300px;
  aspect-ratio: 1;
  background-color: var(--color-primary);
  opacity: 0.5;
  filter: blur(200px);
  border-radius: 50%;

  translate: -50% -50%;
  will-change: transform;

  animation: rotate 20s infinite;
  pointer-events: none;
  display: none;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}

@media (hover: hover) and (pointer: fine) {
  .blob {
    display: block;
  }
}
